<div class="login-page">
  <img
    src="assets/logo-long.png"
    alt="logo"
    style="width: 290px; margin-left: 30px; margin-bottom: 20px"
  />
  <div class="form">
    <img src="assets/user.png" alt="logo" style="width: 70px" />

    <p class="message">Se connecter</p>
    <!-- <form class="register-form">
      <input type="text" placeholder="Matricule" />
      <input type="password" placeholder="Mot de passe" />
      <button>Se connecter</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form> -->
    <form class="login-form">
      <input
        type="text"
        placeholder="Matricule"
        [(ngModel)]="matricule"
        [ngModelOptions]="{standalone: true}"
    
      />
      <input
        type="password"
        placeholder="Mot de passe"
        [(ngModel)]="password"
        [ngModelOptions]="{standalone: true}"
      
      />
      <button (click)="login()">Se connecter</button>

      <p class="message"><a href="#">Mot de passe oublié?</a></p>
    </form>
  </div>
</div>
