<div class="dialog" dir="rtl">
<h1 mat-dialog-title>تعديل مقر التربص</h1>
<div mat-dialog-content>

    <h2>يرجى تعمير الفراغات</h2>
    <form
    class="form"
    [formGroup]="updateFormulaire"
    (ngSubmit)="updateLieuStage()"
  >
      <mat-form-field>
        <mat-label>المقر بالعربية</mat-label>
        <input class="dialog-label" matInput formControlName="adresse">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>المقر بالفرنسية </mat-label>
        <input class="dialog-label" matInput formControlName="adresseFr">
      </mat-form-field>
      <br>
      
      <mat-form-field>
        <mat-label>رقم البريد</mat-label>
        <input class="dialog-label" matInput formControlName="codePostal">
      </mat-form-field>

      
<div mat-dialog-actions> 
    <button mat-button class="dialog-button" submit>تحديث</button>
    <button mat-button class="dialog-button" [mat-dialog-close]="data" cdkFocusInitial>إلغاء</button>
    
  </div>
  </form>
</div>

</div>
