<div class="dialog" dir="rtl">
    <h1 mat-dialog-title>إضافة تربص جديد</h1>
    <div mat-dialog-content>
      <h2> يرجى تعمير الفراغات التالية</h2>
  
      <div class="formulaire-stage">
        <form class="form" [formGroup]="formulaire">
    
          <mat-form-field [hideRequiredMarker]="true" class="input input-large">
            <mat-label>المتربص</mat-label>
            <mat-select formControlName="cinStagiaire">
              <mat-option *ngFor="let stagiaire of listeStagiaire" [value]="stagiaire.cin">{{ stagiaire.prenomArabe + ' ' + stagiaire.nomArabe }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field [hideRequiredMarker]="true" class="input input-large">
            <mat-label>الإختصاص</mat-label>
            <input matInput formControlName="specialiteArabe" />
          </mat-form-field>
          <br>
    
          <mat-form-field [hideRequiredMarker]="true" class="input input-large">
            <mat-label>المعهد/ الكلية</mat-label>
            <input matInput formControlName="institutArabe" />
          </mat-form-field>
    
       
    
          <mat-form-field [hideRequiredMarker]="true" class="input input-large">
            <mat-label>نوع المؤسسة</mat-label>
            <mat-select formControlName="typeInstitut">
              <mat-option value="مؤسسة عامة">مؤسسة عامة</mat-option>
              <mat-option value="مؤسسة خاصة">مؤسسة خاصة</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- 
          <mat-error *ngIf="selected.hasError('required')">You must make a selection</mat-error>
          <mat-error *ngIf="selected.hasError('pattern') && !selected.hasError('required')">
            Your selection is invalid
          </mat-error> -->
    
          <br />
          <mat-form-field [hideRequiredMarker]="true" class="input input-large">
            <mat-label>Faculté/ Institut</mat-label>
            <input matInput formControlName="institutFr" />
          </mat-form-field>
          <mat-form-field [hideRequiredMarker]="true" class="input input-large">
            <mat-label>Spécialité</mat-label>
            <input matInput formControlName="specialiteFr" />
          </mat-form-field>
          <br />
    
          <mat-form-field [hideRequiredMarker]="true" class="input input-large">
            <mat-label>Objet/ موضوع التربص</mat-label>
            <input matInput formControlName="objet" />
          </mat-form-field>
          <!-- 
          <mat-form-field [hideRequiredMarker]="true" [hideRequiredMarker]="true" class="input">
            <mat-label>نوع التربص</mat-label>
            <input matInput formControlName="typeStage" />
          </mat-form-field> -->
    
          <mat-form-field [hideRequiredMarker]="true" class="input input-large">
            <mat-label>نوع التربص</mat-label>
            <mat-select formControlName="typeStage">
              <mat-option value="Stage Ouvrier"> تربص عامل (Stage Ouvrier)</mat-option>
              <mat-option value="Stage Perfectionnement">
                تربص تحسيني (Stage Perfectionnement)</mat-option
              >
              <mat-option value="Stage niveau Mastere">
                 تربص مستوى ماجيستير(Stage niveau Mastere)</mat-option
              >
              <mat-option value="Stage en Cycle d'Ingénieur">
                تربص مستوى هندسة (Stage niveau Cycle d'Ingenieur)</mat-option
              >
              <mat-option value="Projet de Fin d'Etudes">
                مشروع ختم الدروس (Projet de Fin d'Etudes)</mat-option
              >
            </mat-select>
          </mat-form-field>
    
          <br />
    
          <mat-form-field [hideRequiredMarker]="true" class="input input-large">
            <mat-label>الرقم الآلي للمؤطر</mat-label>
            <input
              matInput
              formControlName="matriculeEncardreur"
              (keyup)="getEncadrant()"
            />
          </mat-form-field>
          <mat-form-field [hideRequiredMarker]="true" class="input input-large">
            <mat-label>المؤطر</mat-label>
            <input
              matInput
              formControlName="encadrant"
              [readonly]="true"
              [ngModel]="encadrant"
            />
          </mat-form-field>
    
          <br />
          <!-- <mat-form-field>
            <mat-select    [(ngModel)]="lieuStageListe" > -->
          <mat-form-field [hideRequiredMarker]="true" class="input input-large">
            <mat-label>مقر التربص</mat-label>
            <mat-select formControlName="lieuStage">
              <mat-option
                *ngFor="let lieu of lieuStageListe"
                [value]="lieu"
                >{{ lieu.adresse }}</mat-option
              >
            </mat-select>
          </mat-form-field>
    
          <mat-form-field class="input input-large">
            <mat-label>مدة التربص</mat-label>
            <mat-date-range-input [rangePicker]="picker1">
              <input
                matStartDate
                placeholder="تاريخ البداية المفترض"
                formControlName="dateDebut"
                
              />
              <input
                matEndDate
                placeholder="تاريخ النهاية المفترض"
                formControlName="dateFin"
              />
            </mat-date-range-input>
            <mat-hint>AAAA/MM/JJ – AAAA/MM/JJ</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker1></mat-date-range-picker>
          </mat-form-field>
    
          <br />
    
          <div class="buttonHolder">
            <button class="button-65" role="button" (click)="saveStage()">إضافة تربص جديد</button>
            <div class="devider"></div>
            <!-- <button class="button-65" role="button" (click)="generatePDF()">إستخراج تذكرة التربص</button> -->
            
          </div>
        </form>
        
        <div style="display: none;">
          <qrcode #qr [width]="200" [elementType]="'img'"  [qrdata]="qrCodeValue" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
    
        
      </div>
      </div>
    </div>
  
  