<div class="listeStagiaires" dir="rtl">
    <div class="header" style="display: flex">
      <h1 class="page-title" style="padding-left: 500px !important">
        قائمة المستعملين
      </h1>
      <button
        class="dialog-button"
        mat-raised-button
        color="primary"
        style="margin-right: 70px; display: flex"
        (click)="addUser()"
      >
        إضافة مستعمل
      </button>
    </div>
  
    <mat-form-field>
      <mat-label>البحث</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input />
    </mat-form-field>
  
    <div
      *ngIf="isLoading"
      style="
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      "
    >
      <mat-spinner></mat-spinner>
    </div>

  
    <div class="Tableau">
      <ng-container *ngIf="!isLoading">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          
          <ng-container matColumnDef="matricule">
            <th mat-header-cell *matHeaderCellDef>الرقم الآلي</th>
            <td mat-cell *matCellDef="let row">{{ row.matricule }}</td>
          </ng-container>
  
          <!-- nom prenom !!  -->
          <ng-container matColumnDef="nomPrenom">
            <th mat-header-cell *matHeaderCellDef>العنوان بالفرنسية</th>
            <td mat-cell *matCellDef="let row">{{row.prenomArabe}} {{ row.nomArabe }}</td>
          </ng-container>
  
          <ng-container matColumnDef="fonction">
            <th mat-header-cell *matHeaderCellDef>الخطة</th>
            <td mat-cell *matCellDef="let row">{{ row.fonction }}</td>
          </ng-container>

          <ng-container matColumnDef="siegeAdministratif">
            <th mat-header-cell *matHeaderCellDef>المقر الإداري</th>
            <td mat-cell *matCellDef="let row">{{ row.siegeAdministratif }}</td>
          </ng-container>
  
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let row">
              <div style="display: flex">
<!-- details button -->
                <img
                  class="image cursor-pointer"
                  src="assets/info.png"
                  alt="edit"
                  style="display: flex"
                  (click)="showDetails(row)"
                />
                <p class="cursor-pointer" (click)="showDetails(row)">تفاصيل</p>


<!-- edit button -->

                <img
                  class="image cursor-pointer"
                  src="assets/edit.png"
                  alt="edit"
                  style="display: flex"
                  (click)="openEditDialog(row)"
                />
                <p class="cursor-pointer" (click)="openEditDialog(row)">تعديل</p>
                <!-- <button mat-button  >
                  <img class="image" src="assets/edit.png" alt="edit"   style="display: flex;"/>
                  <p class="action"  style="display: flex;">تعديل</p>
                </button> -->
  

                <!-- delete button -->
                <img
                  src="assets/delete.png"
                  (click)="openDeleteDialog(row)"
                  class="image cursor-pointer"
                  alt="edit"
                />
                <p class="cursor-pointer" (click)="openDeleteDialog(row)">حـذف</p>
              </div>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td
              class="mat-cell"
              colspan="4"
              style="
                font-family: 'Noto Sans Arabic', sans-serif;
                font-size: 16px;
                font-weight: 500;
                padding-right: 15px;
              "
            >
              غير موجود
            </td>
          </tr>
        </table>
      </ng-container>
      <mat-paginator
        [pageSize]="25"
        [pageSizeOptions]="[5, 10, 25, 100]"
      ></mat-paginator>
    </div>
  </div>
  