<div class="update" dir="rtl">
  <h1 class="page-title">تحيين متربص</h1>
  <ng-container class="search">
    <form action="">
      <mat-form-field class="input search">
        <mat-label>ب.ت.و</mat-label>
        <input matInput #cin value="{{ getCin }}" />
      </mat-form-field>
      <div class="buttonHolder search">
        <button (click)="getCinMethode(cin.value)" class="button-65 search">
          بحث
        </button>
      </div>
    </form>
  </ng-container>
  <br />
  <ng-template class="not-found-message" [ngIf]="notFound">
    <p>المتربص غير موجود. الرجاء التثبت من رقم ب.ت.و المدرج</p>
  </ng-template>

  <ng-template [ngIf]="found">
    <div class="update-formulaire">
      <form
        class="form"
        [formGroup]="updateFormulaire"
        (ngSubmit)="updateMethode()"
      >
        <mat-form-field class="input">
          <mat-label>الإسم</mat-label>
          <input matInput formControlName="prenomArabe" />
        </mat-form-field>
        <mat-form-field class="input">
          <mat-label>اللقب</mat-label>
          <input matInput formControlName="nomArabe" value="hidsd" />
        </mat-form-field>

        <mat-form-field class="input">
          <mat-label>البريد الإلكتروني</mat-label>
          <input
            type="email"
            matInput
            formControlName="mail"
            [errorStateMatcher]="matcher"
            placeholder="Ex. nom@example.com"
          />
        </mat-form-field>
        <br />
        <mat-form-field class="input">
          <mat-label>Prénom</mat-label>
          <input matInput formControlName="prenomFr" />
        </mat-form-field>

        <mat-form-field class="input">
          <mat-label>Nom</mat-label>
          <input
            matInput
            formControlName="nomFr"
            [errorStateMatcher]="matcher"
          />
        </mat-form-field>

        <mat-form-field class="input">
          <mat-label>ب.ت.و</mat-label>
          <input type="number" matInput formControlName="cin" />
        </mat-form-field>

        <br />

        <mat-form-field class="input" style="width: 25% !important">
          <mat-label>تاريخ الولادة</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="dateNaissance"
          />
          <mat-hint>AAAA/MM/JJ</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <!-- 
        <mat-form-field class="input">
          <mat-label>تاريخ الولادة</mat-label>
          <input type="date" matInput formControlName="dateNaissance" />
          <input matInput [matDatepicker]="picker" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> -->

        <mat-form-field class="input">
          <mat-label>رقم الهاتف</mat-label>
          <input type="number" matInput formControlName="telephone" />
        </mat-form-field>

        <mat-form-field class="input">
          <mat-label>العنوان</mat-label>
          <input matInput formControlName="adresse" />
        </mat-form-field>

        <div class="buttonHolder">
          <button class="button-65" role="button">تحديث</button>
        </div>
      </form>
    </div>
  </ng-template>
</div>
