<div class="widget-container">
  <div class="widget green">
    <div class="value">
      <div class="top">72</div>
      <div class="bottom">مركز</div>
    </div>
    <div class="icon">
      <fa-icon [icon]="faLocationDot"></fa-icon>
    </div>
  </div>
  <div class="widget blue">
    <div class="value">
      <div class="top">21</div>
      <div class="bottom">مؤطر</div>
    </div>
    <div class="icon">
      <fa-icon [icon]="faUserTie"></fa-icon>
    </div>
  </div>
  <div class="widget yellow">
    <div class="value">
      <div class="top">118</div>
      <div class="bottom">متربص</div>
    </div>
    <div class="icon">
      <fa-icon [icon]="faUsers"></fa-icon>
    </div>
  </div>
</div>
